*{
    margin: 0;
    padding: 0;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.container{
    background: linear-gradient(-45deg,#00d5fc,#046af6);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
    margin: 10px 10px;
}
.logo-tekst{
    cursor: default;
    color: rgb(146, 218, 240);
    text-align: center;
    display: block;
}
.tel{
    margin-left: 20px;
    color: white;
    font-size: 80%;
}
nav{
    right: 0;
    top: 40px;
    position: absolute;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.2s;
}
nav ul li a:hover{
    transition: all 0.2s;
    color: rgb(85, 85, 85);
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
.aktualna{
    filter: drop-shadow(0px 0px 1px rgb(35, 195, 223));
    text-decoration:underline;
    cursor: default;
    color: rgb(35, 195, 223);
}
.aktualna:hover{
    color: rgb(35, 195, 223);
}

.dolacz{
    cursor: default;
    margin-top: 50px;
    font-size: 250%;
    font-weight: 600;
    color: white;
    text-align: center;
    transition: all 0.5s;
    filter: drop-shadow(0px 0px 1px black);
}
.dolacz2{
    cursor: default;
    margin-top: 20px;
    font-size: 250%;
    font-weight: 600;
    color: white;
    text-align: center;
    transition: all 0.5s;
    filter: drop-shadow(0px 0px 1px black);
}
.dolacz:hover{
    transition: all 0.5s;
    letter-spacing: 2px;
}
.row .col2{
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.col2 img{
    filter: drop-shadow(0px 0px 5px white);
    transition: all 0.2s;
}
.col2 img:hover{
    cursor: pointer;
    transition: all 0.2s;
    filter: drop-shadow(0px 0px 50px white);
}

.row .col3{
    color: white;
    font-size: 200%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.col1 .wifi{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    filter: drop-shadow(0px 0px 4px white);
    transition: all 0.5s;
}
.col1 .wifi:hover{
    transition: all 0.5s;
    filter: drop-shadow(0px 0px 9px white);
}

.col3{
    z-index: 1;
    filter: drop-shadow(0px 0px 1px white);
    margin-top: 50px;
}
.col3 p,h2{
    text-align: center;
}
.col3 p{
    font-size: 60%;
}
.col3 h2{
    cursor: default;
}
.col3 img{
    filter: drop-shadow(0px 0px 9px white);
}
.linia{
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 0;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@media only screen and (max-width:700px){
    nav{
        position: relative;
    }
    nav ul{
        margin-top: 10px;
        width: 100%;
        background: linear-gradient(#0a0a0a, #373836);
        position: absolute;
        right: 0;
        z-index: -2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        margin-left: 20px;
        width: 60px;
    }
    .logo-tekst{
        display: none;
    }
    .tel{
        font-size: 50%;
        text-align: center;
      }
    .menu-icon{
        width: 50px;
        margin-right: 10px;
    }
    .col1 .dolacz{
        font-size: 100%;
    }
    .col1 .wifi{
        width: 150px;
    }
    .col1 .dolacz2{
        font-size: 100%;
    }
    .col2 img{
        width: 120px;
    }
    .row .col3{
        color: white;
        font-size: 100%;
        padding: 20px;
        display: flex;
    }
    .col3 img{
        width: 350px;
    }
}
@media only screen and (max-width:900px){
    .logo-tekst{
        display: none;
    } 
}