*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background: linear-gradient(-45deg,#00d5fc,#046af6);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
.tel{
  margin-left: 20px;
  color: white;
  font-size: 80%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(/images//background.jpg);
}
.logo{
    width: 80px;
    margin: 10px 10px;
}
.logo-tekst{
    cursor: default;
    color: rgb(146, 218, 240);
    text-align: center;
    display: block;
}
nav{
    right: 0;
    top: 40px;
    position: absolute;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.2s;
}
nav ul li a:hover{
    transition: all 0.2s;
    color: rgb(85, 85, 85);
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
.aktualna{
    text-decoration:underline;
    cursor: default;
    color: grey;
}
.aktualna:hover{
    color: grey;
}
.test{
    margin-top: 1000px;
}

.logowanie{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
  }
  .wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    height: 90px;
    background: #52a8cf;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 85%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: #66bde6;
    box-shadow: inset 0px 0px 2px 2px rgba(137, 206, 218, 0.25);
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #52a8cf;
    border: 1px solid #52a8cf;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapper form .pass a{
    color: #52a8cf;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #52a8cf;
    border: 1px solid #458aaa;
    cursor: pointer;
  }
  form .button input:hover{
    background: #52a8cf;
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: #52a8cf;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  }

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@media only screen and (max-width:700px){
    nav{
        position: relative;
    }
    .tel{
      font-size: 50%;
      text-align: center;
    }
    nav ul{
        margin-top: 10px;
        width: 100%;
        background: linear-gradient(#0a0a0a, #373836);
        position: absolute;
        right: 0;
        z-index: -2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        margin-left: 20px;
        width: 60px;
    }
    .logo-tekst{
        display: none;
    }
    .menu-icon{
        width: 50px;
        margin-right: 10px;
    }
    .logowanie{
        margin: 100px auto;
    }
    .wrapper form .row input{
        width: 80%;
    }
}
@media only screen and (max-width:900px){
    .logo-tekst{
        display: none;
    } 
}