*{
    margin: 0;
    padding: 0;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.container{
    background-image: url(/images/background3.jpg);
    background-size:cover;
    width: 100%;
    height: 130vh;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(/images/background.jpg);
}
.logo{
    width: 80px;
    margin: 10px 10px;
}
.logo-tekst{
    cursor: default;
    color: rgb(146, 218, 240);
    text-align: center;
    display: block;
}
.tel{
    margin-left: 20px;
    color: white;
    font-size: 80%;
}
nav{
    right: 0;
    top: 40px;
    position: absolute;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.2s;
}
nav ul li a:hover{
    transition: all 0.2s;
    color: rgb(85, 85, 85);
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
.aktualna{
    text-decoration:underline;
    cursor: default;
    color: grey;
}
.aktualna:hover{
    color: grey;
}
.test{
    margin-top: 1000px;
}
.row{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
}
.col-1{
    height: 400px;
    margin-top: 50px;
    border-radius: 0px 40px 40px 0px;
    width: 900px;
    background-image: url(/images/textbackground.png);
    background-size: cover;
    box-shadow: 0px 0px 5px 5px rgb(98, 191, 219);
    transition: all 0.3s;
}
.col-1:hover{
    width: 950px;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.col-1 h2{
    color: white;
    padding: 30px;
}
.col-1 h4{
    color: white;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}
.col-1 b{
    font-weight: 500;
    font-size: 100%;
    color: rgb(76, 189, 189);
}
.col-2{
    height: 400px;
    width: 900px;
    margin-top: 200px;
    background-image: url(/images/textbackground.png);
    background-size: cover;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0px 0px 5px 5px rgb(98, 191, 219);
    transition: all 0.3s;
}
.col-2 b{
    font-weight: 500;
    font-size: 100%;
    color: rgb(76, 189, 189);
}
.col-2:hover{
    width: 950px;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.col-2 h2{
    color: white;
    padding: 30px;
}
.col-2 ul{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    list-style:inside;
}
.col-2 ul li{
    padding: 5px;
}
.col-2 h4{
    font-weight: 500;
}
.row2{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
}
.col-3{
    position: absolute;
    left: 0;
    top: 650px;
    height: 400px;
    border-radius: 0px 40px 40px 0px;
    width: 900px;
    background-image: url(/images/textbackground.png);
    background-size: cover;
    box-shadow: 0px 0px 5px 5px rgb(98, 191, 219);
    transition: all 0.3s;
}
.col-3 b{
    font-weight: 500;
    font-size: 100%;
    color: rgb(76, 189, 189);
}
.col-3:hover{
    width: 950px;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.col-3 h2{
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
}
.col-3 h4{
    padding-top: 140px;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}
.col-4{
    position: absolute;
    right: 0;
    top: 600px;
    height: 400px;
    width: 900px;
    margin-top: 200px;
    background-image: url(/images/textbackground.png);
    background-size: cover;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0px 0px 5px 5px rgb(98, 191, 219);
    transition: all 0.3s;
}
.col-4 b{
    font-weight: 500;
    font-size: 100%;
    color: rgb(76, 189, 189);
}
.col-4:hover{
    width: 950px;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.col-4 h2{
    color: white;
    padding-top: 30px;
}
.col-4 ul{
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    list-style:inside;
}

.col-4 h4{
    font-weight: 500;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@media only screen and (max-width:700px){
    .container{
        height: 230vh;
        background-repeat: repeat;
        background-size: cover;

    }
    .tel{
        font-size: 50%;
        text-align: center;
    }
    nav{
        position: relative;
    }
    nav ul{
        margin-top: 10px;
        width: 100%;
        background: linear-gradient(#0a0a0a, #373836);
        position: absolute;
        right: 0;
        z-index: -2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        margin-left: 20px;
        width: 60px;
    }
    .logo-tekst{
        display: none;
    }
    .menu-icon{
        width: 50px;
        margin-right: 10px;
    }
    .col-1{
        margin-top: 30px;
        width: 195px;
        height: 480px;
    }
    .col-1:hover{
        width: 195px;
        letter-spacing: 0px;
    }
    .col-1 h2{
        padding: 10px;
        font-size: 100%;
    }
    .col-1 h4{
        font-size: 70%;
        padding: 10px;
    }
    .col-2{
        margin-top: 180px;
        width: 195px;
        height: 508px;
    }
    .col-2:hover{
        width: 195px;
        letter-spacing: 0px;
    }
    .col-2 h2{
        padding: 5px;
        font-size: 100%;
    }
    .col-2 h4{
        padding: 1px;
        font-size: 70%;
    }
    .col-2 ul li{
        padding: 1px;
    }
    .col-3{
        width: 195px;
        height: 480px;
    }
    .col-3:hover{
        width: 195px;
        letter-spacing: 0px;
    }
    .col-3 h4{
        font-size: 70%;
        padding: 10px;
        padding-top: 140px;
    }
    .col-4{
        margin-top: 230px;
        width: 195px;
        height: 610px;
    }
    .col-4 h2{
        font-size: 100%;
        padding-top: 10px;
    }
    .col-4 h4{
        padding: 1px;
        font-size: 70%;
    }
    .col-4:hover{
        width: 195px;
        letter-spacing: 0px;
    }
    .col-4 ul{
        padding-top: 5px;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        list-style:inside;
    }
}
@media only screen and (max-width:900px){
    .logo-tekst{
        display: none;
    } 
}